<div class="col-lg-4 col-md-6 col-xs-12 project" project="{{project.name}}">
  <div class="card {{ language }}">
    <a class="project-link" href="projects/{{project.name}}" target="_blank">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-9 site">
            <span class="d-flex">
              <div class="d-flex img-project rounded-circle {{ icon }}">
              </div>
              <h5 class="card-title project-card-title ml-2">
                  {{project.name}}
              </h5>
            </span>
          </div>
          <div class="col-sm-3 text-right">
            <span class="badge badge-tag-color">
              <i class="fas fa-tags"></i>
              <span class="badge-tag">
                {{ project.tag }}
              </span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <small>
              <b>Updated on</b> {{ project.date }}
              <b>by</b> {{ project.author }}
            </small>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg text-message project-message">
            {{project.message}}
          </div>
        </div>
      </div>
    </a>
    <div class="card-footer">
      <div class="row">
        <!-- Docs -->
        <div class="col-3 text-center footer-section-item">
          <span class="card-subtitle">
            <a href="doc/{{project.name}}" target="_blank">
              <i class="far fa-file"></i>
              Doc
            </a>
          </span>
        </div>
        <!-- Commits -->
        <div class="col-3 text-center footer-section-item">
          <span class="card-subtitle">
            <a href="detail/{{project.name}}" target="_blank">
              <i class="far fa-clock"></i>
              Commits
            </a>
          </span>
        </div>
        <!-- Branches -->
        <div class="col-3 text-center footer-section-item">
          <span class="card-subtitle">
            <i class="fas fa-code-branch"></i>
            Branches
          </span>
        </div>
        <!-- Contributors -->
        <div class="col-3 text-center footer-section-item">
          <span class="card-subtitle">
            <i class="fas fa-users"></i>
            Backers
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
